@import "./styles/colors.scss";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url('./assets/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: bold;
  font-weight: bold;
  src: local('Open Sans Bold'), url('./assets/fonts/OpenSans-Bold.woff') format('woff');
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe   UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  box-shadow: none;
}